{% load static %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Login Page{% endblock %}</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    {% comment %} <link rel="icon" href="{% static 'img/linkedIn1.png' %}"> {% endcomment %}
    <link rel="icon" herf="{% static 'img/signup.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body class="d-flex flex-column h-100">
     <header>
       <!-- Fixed navbar -->
       <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
         <a class="navbar-brand" href="/">KMA Applications</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarCollapse">
           <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
               <a class="nav-link" href="/signup/">Register <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item active">
               <a class="nav-link" href="/login/">Login <span class="sr-only">(current)</span></a>
             </li>
             {% if user.is_authenticated %}
                 <li class="nav-item active">
                   <a class="nav-link" href="/crm/">Home</a>
                 </li>
             {% else %}
                 <li class="nav-item" disabled>
                   <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Home</a>
                 </li>
             {% endif %}
             <li class="nav-item">
               <a class="nav-link" href="http://github.com/cehceh">Github</a>
             </li>
             <li class="nav-item" disabled>
               <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
             </li>
           </ul>
           <form class="form-inline mt-2 mt-md-0">
             <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
             <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
           </form>
         </div>
       </nav>
      </header>
  <h2>
      <p id="p-signup">Login Page</p>
  </h2>
  <br/>
         
  <!-- Begin page content -->
  <main role="main" class="flex-shrink-0">
    {% comment %} <section class="jumbotron text-center"> {% endcomment %}
      <div class="container">
          <form class="form-signin" method="POST" id="login">
            {% csrf_token %}
            <img class="mb-4" src="{% static 'img/pic3.jpg' %}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
            <label for="inputEmail" class="sr-only">User Name</label>
            <input type="" id="username" class="form-control" name="username" placeholder="User Name" required autofocus><br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p> -->
          </form>
        </div>
      {% comment %} </section> {% endcomment %}
    </main>
  <!-- <div class="container">
    <div class="jumbotron">
      <h1>Login here :</h1>
    <form method="post" action="/login/" id="login">
      {% csrf_token %}
      {# A more "HTML" way of creating the login form #}
        <label for="username">Username:</label>
        <input class="" type="text" name="username" placeholder="UserName">
        <label for="password">Password:</label>
        <input class="" type="password" name="password" placeholder="Password">
        <input type="submit" name="" value="Login">
    </form>
   </div>
</div> -->
    <footer class="footer mt-auto py-3">
        <div class="footer-partner footer-partner-codepen" id="divfooter">
          <div class="container" id="footer-login" style="background-color: #324960;">
            <span class="text-muted">
              <div class="col-lg-4 col-md-4" id="all">
                  <p class="m-t" style="color:white"><a href="https://amr-aly.simplesite.com" target="_blank">www.amr-aly.simplesite.com</a></p>
                  <p class="m-t" style="color:white">Copy right &copy Amr Aly {% now "Y" %}</p>
                  <p class="m-t" style="color:white">© All Rights Reserved to KMA for Software Solution.</p>
              </div>
            </span>
          </div>
        </div>
    </footer>
<!-- ================================================== -->

<!-- =================================================== -->
    <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

      <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>


  </body>
</html>
