{% load bootstrap %} {% load static %}
<!doctype html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Amr Aly</title>

  <!-- Bootstrap core CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- important note about url if your app has a namespace
      in the urls.py of the main project you can do url 'appname:your_url'
      to point to a specific url and redirect to it easily
      but put in your mind that you must write the app_name in the app_urls.py file
      as follow : app_name = 'your app name' ..
      hope this note help you -->
      <a class="navbar-brand" href="/crm/">Amr ALy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="http://github.com/cehceh">Github</a>
          <!-- <a class="nav-link disabled" href="{% url 'jobs:home' %}" >Projects</a> -->
          <a class="nav-link disabled" href="#" >Resume</a>
          <a class="nav-item nav-link" href="{% url 'blog:allblogs' %}">Blog</a>
        </div>
      </div>
    </nav>
  </header>

  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading" id="">Hi, I'm Amr.</h1>
        <p class="lead text-muted">Hey, my name is Amr Aly and I love to make Django websites. It's the thrill of handling the requests that the people want!</p>
        <p>
          <a href="mailto:amr.jobmail@gmail.com" class="btn btn-primary my-2">Email Me</a>
        </p>
        <img src="{% static 'home.png' %}" height="400" width="500"/>
        <img src="{% static 'bookreport.png' %}" height="400" width="500"/><br><br>
        <img src="{% static 'laundry.png' %}" height="400" width="500"/>
        <img src="{% static 'electwater.png' %}" height="400" width="500"/><br><br>
        <img src="{% static 'expenses.png' %}" height="400" width="500"/>
        <img src="{% static 'login.png' %}" height="400" width="500"/><br><br>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">

          {% for job in jobs.all %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ job.image.url }}" />
                <div class="card-body">
                  <p class="card-text">{{ job.summary }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </main>

  <footer class="text-muted">
    <div class="container text-center">
      <p><a href="http://amr-aly.simplesite.com">amr-aly.com</a></p>
      <p>© Amr Aly {% now "Y" %}</p>
      </div>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
